body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  background: linear-gradient(124deg, rgba(70,146,230,1) 12%, rgba(160,60,190,1) 45%);
  overflow: hidden;
}

.adminform {
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    padding: 36px 20px 20px 20px;
    border-radius: 8px;
}
.adminform__form {

}
.adminform__title {
    text-align: center;
    margin: 0 0 20px 0;
}
.adminform__input {
    width: 100%;
    border: 1px solid #4b5252;
    border-radius: 6px;
    padding: 10px 6px;
    margin: 0 0 12px 0;
}
.adminform__btn {
    width: 100%;
    height: 38px;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(124deg, rgb(96 70 230) 43%, rgb(60 148 190) 73%);
    padding: 0 40px;
    border-radius: 6px;
}