*,
*:before,
*:after {
  box-sizing: border-box;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
}

input {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
input,
textarea {
  font-family: inherit;
  color: inherit;
  resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input:focus,
textarea:focus,
select {
  outline: none;
  transition: all 0.2s linear;
}
input::placeholder,
textarea::placeholder {
  color: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  display: inline-block;
}

:root {
  --basic-black-text: #323a42;
}

html {
  scroll-behavior: smooth;
}